body {
  background-color: #000;
}

div {
  display: block;
}

.content-wrapper {
  position: relative;
  color: #eee;
}

.subpage-slide {
    position: absolute;
    background-image: url(../images/RDR2-2.jpg);
    top: -5%;
    left: 0;
    right: 0;
    width: 100%;
    background-size: 100%;
    z-index: -1;
    height: 150%;
    max-height: 3000px;
}

.body-content {
    margin-top: 50px;
}

.header-logo {
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top:90px;
}

.bg-black {
  background-color: #000;
}

.opa50 {
  opacity: 0.90;
}

p {
    font-size: 16px;
    font-family: courier;
}

h1 {
    color: red;
    font-family: courier;
}
